button, .btn {
    border: 0;
    border-radius:0.2em;
    background: #2a913e;
    color: #fff;
    padding: 0.6rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
}